*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridContainer{
    border: 1px solid red;
    display: grid;
    grid: 90px 200px auto / 250px 1fr 1fr ;
    height: 100vh;

}
.gridHeader{
    background-image: linear-gradient(90deg, rgba(191.13, 244.36, 158.50, 0.66) 18%, rgba(148.40, 235.81, 255, 0.74) 94%);
    grid-column: 1 / 4;


}
.gridSideBar{
    background-color: rgb(220.35, 229.39, 242.96, 0.56);
    grid-row: 2/4;
}
.gridMain{
    background-color: #ffffff;
    grid-row: 2/4;
    grid-column: 2/4;
}